// -------------------------
// --- You can add your variables to overwrite default values.
// -------------------------

// Uncomment one of the following line if you want to get appropriate theme.
// @import 'themes/red';
@import 'themes/blue';
// @import 'themes/black';
// @import 'themes/green';
.header {
      z-index: 3;
      position: absolute;
      width:100%;
      height:20%;
      top: 0px;
      left: 0px;
      right: 0px;
      padding: 10px 20px;
      background: linear-gradient(
         100deg,
         rgba(36, 164, 234, 0),
         rgba(55, 157, 235, 0) 25%,
         rgba(183, 107, 240, 0)
      );
      transition: background 0.25s ease;
      .name,
      .contact {
         display: inline-block;
         color: white;
         font-size: 14px;
         line-height: 42px;
         font-smoothing: antialiased;
         width: 100%;
         font-weight: bold;
      }
      .name {
      }
      .contact {
         float: right;
      }
      &.bg {
         background: linear-gradient(100deg, #24a4ea, #379deb 25%, #b76bf0);
      }
   }
   .hero {
      overflow: hidden;
      position: absolute;
      position: relative;
      height: calc(15vh + 40px);
      min-height: 150px;
      background: #ffce54;
      background: linear-gradient(100deg, #24a4ea, #379deb 25%, #b76bf0);
      &.footer{
         height: calc(60vh + 80px);
         min-height: 200px;
         display: inline-block;
         color: white;
         font-size: 14px;
         line-height: 42px;
         font-smoothing: antialiased;
         width: 100%;
         font-weight: bold;
      }
      .w {
         position: absolute;
         top: 100%;
         left: -25vw;
         right: 0px;
         background: url(https://i.koya.io/whitewave2.svg);
         background-position: center;
      }
      .wave {
         height: 200px;
         transform: translateY(-40px);
      }
      .wave2 {
         height: 240px;
         transform: translateY(-80px);
         background-size: 960px 240px;
         opacity: 0.5;
         left: -80vw;
         right: -5vw;
      }
      .wave3 {
         height: 220px;
         transform: translateY(-120px);
         background-size: 880px 220px;
         opacity: 0.33;
         left: 0vw;
         right: -20vw;
      }
      .wave4 {
         height: 280px;
         transform: translateY(-160px);
         background-size: 1120px 280px;
         opacity: 0.1;
         left: 0vw;
         right: -40vw;
      }
      .name {
          display: inline-block;
          color: white;
          font-size: 14px;
          line-height: 42px;
          font-smoothing: antialiased;
          width: 100%;
          font-weight: bold;
      }
   } 
