// -------------------------
// --- You can add your custom CSS here and it will overwrite template styles.
// -------------------------
 
@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('~assets/fonts/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf');
}
.locale-en {
    font-family: 'Roboto', sans-serif;
}
.v-select-toggle {
    border: 1px solid #1513133b  !important;
    background: #fff  !important; 
    font-weight: 400  !important;
    color: #212529  !important;    
    padding: .375rem .75rem  !important;
    font-size: 16px  !important;
    line-height: 1.5  !important; 
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out  !important;
}  
.v-dropdown-item {
    font-weight: 400  !important;   
    padding: .375rem .75rem  !important;
    font-size: 16px  !important;
    line-height: 1.5  !important; 
} 
.v-dropdown-container{
    overflow: auto;
    max-height: 300px;
}   

.locale-fr {
    font-family: 'Roboto', serif;
    .product-card__addtocart {
        font-size: .755rem !important;
    }
    .active-cat::before  {
        content: '';
        top: 0;
        width: 5px;
        height: 30px;
        position: absolute;
        background: orange;
        left: 0;
        
    }
    .msg_errorList i {
        color: red;
    }
    .msg_errorList strong {
        color: red;
    }
    .msg_errorList,
    .v-dropdown-item {
        text-align: left;
    }
     
}


.locale-ar {
    font-family: 'Droid Arabic Kufi',
    'Traditional Arabic';
    .active-cat::before  {
        content: '';
        top: 0;
        width: 5px;
        height: 30px;
        position: absolute;
        background: orange;
        right: 0;
    }
    .msg_errorList i {
        color: red;
    }
    .msg_errorList strong {
        color: red;
    }
    .msg_errorList,
    .v-dropdown-item {
        text-align: right;
    }
    
     
}
 