/* ----------------------------------------

Table of Contents:
- Common
  - animations
  - base
  - .document
  - .fake-svg-icon
  - .page-header
  - .site
- Components
  - .account-nav
  - .alert
  - .badge
  - .block-header
  - .breadcrumb
  - .btn
  - .card
  - .card-table
  - .filters-button
  - forms
  - .input-check
  - .input-check-color
  - .input-number
  - .input-radio
  - .input-radio-color
  - .input-radio-label
  - .layout-switcher
  - .modal
  - .pagination
  - .post-card
  - .product-card
  - .product-image
  - .rating
  - .select2
  - .share-links
  - .social-links
  - .tags
  - .tooltip
  - .typography
  - .vue-slider
  - .vue-toast
- Filters
  - .filter
  - .filter-categories
  - .filter-categories-alt
  - .filter-color
  - .filter-list
  - .filter-price
- Header
  - .account-menu
  - .departments
  - .dropcart
  - .indicator
  - .megamenu
  - .menu
  - .mobile-header
  - .mobile-links
  - .mobilemenu
  - .nav-links
  - .nav-panel
  - .search
  - .search--location--header
  - .search--location--indicator
  - .search--location--mobile-header
  - .site-header
  - .suggestions
  - .topbar
  - .topbar-dropdown
  - .topbar-link
- Footer
  - .footer-contacts
  - .footer-links
  - .footer-newsletter
  - .site-footer
  - .totop
- Pages
  - .about-us
  - .checkout
  - .contact-us
  - .faq
  - .not-found
- Shop
  - .address-card
  - .addresses-list
  - .cart
  - .cart-table
  - .category-card
  - .compare-table
  - .dashboard
  - .order-header
  - .order-list
  - .order-success
  - .product
  - .product-gallery
  - .product-tabs
  - .products-list
  - .products-view
  - .profile-card
  - .quickview
  - .review
  - .reviews-list
  - .reviews-view
  - .shop-layout
  - .spec
  - .view-options
  - .wishlist
- Blog
  - .comment
  - .comments-list
  - .post
  - .post-author
  - .post-header
  - .posts-list
  - .posts-view
  - .related-posts
- Blocks
  - .block
  - .block-banner
  - .block-brands
  - .block-categories
  - .block-empty
  - .block-features
  - .block-loader
  - .block-finder
  - .block-map
  - .block-posts
  - .block-product-columns
  - .block-products
  - .block-products-carousel
  - .block-sidebar
  - .block-slideshow
- Widgets
  - .widget
  - .widget-aboutus
  - .widget-categories
  - .widget-comments
  - .widget-filters
  - .widget-newsletter
  - .widget-posts
  - .widget-products
  - .widget-search
  - .widget-tags

---------------------------------------- */



/* ----------------------------------------
// Common
// ---------------------------------------- */
@import 'common/animations';
@import 'common/base';
@import 'common/document';
@import 'common/fake-svg-icon';
@import 'common/page-header';
@import 'common/site';



/* ----------------------------------------
// Components
// ---------------------------------------- */
@import 'components/account-nav';
@import 'components/alert';
@import 'components/badge';
@import 'components/block-header';
@import 'components/breadcrumb';
@import 'components/buttons';
@import 'components/card';
@import 'components/card-table';
@import 'components/filters-button';
@import 'components/forms';
@import 'components/input-check';
@import 'components/input-check-color';
@import 'components/input-number';
@import 'components/input-radio';
@import 'components/input-radio-color';
@import 'components/input-radio-label';
@import 'components/layout-switcher';
@import 'components/modal';
@import 'components/pagination';
@import 'components/post-card';
@import 'components/product-card';
@import 'components/product-image';
@import 'components/rating';
@import 'components/select2';
@import 'components/share-links';
@import 'components/social-links';
@import 'components/tags';
@import 'components/vue-toast';
@import 'components/tooltip';
@import 'components/typography';
@import 'components/vue-slider';



/* ----------------------------------------
// Filters
// ---------------------------------------- */
@import 'filters/filter';
@import 'filters/filter-categories';
@import 'filters/filter-categories-alt';
@import 'filters/filter-color';
@import 'filters/filter-list';
@import 'filters/filter-price';



/* ----------------------------------------
// Header
// ---------------------------------------- */
@import 'header/account-menu';
@import 'header/departments';
@import 'header/dropcart';
@import 'header/indicator';
@import 'header/megamenu';
@import 'header/menu';
@import 'header/mobile-header';
@import 'header/mobile-links';
@import 'header/mobilemenu';
@import 'header/nav-links';
@import 'header/nav-panel';
@import 'header/search';
@import 'header/search--location--header';
@import 'header/search--location--indicator';
@import 'header/search--location--mobile-header';
@import 'header/site-header';
@import 'header/suggestions';
@import 'header/topbar';
@import 'header/topbar-dropdown';
@import 'header/topbar-link';



/* ----------------------------------------
// Footer
// ---------------------------------------- */
@import 'footer/footer-contacts';
@import 'footer/footer-links';
@import 'footer/footer-newsletter';
@import 'footer/site-footer';
@import 'footer/totop';

.logo{
  width: 100px;
  height: 100px;
  -webkit-animation: flip-vertical-fwd 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate backwards;
  animation: flip-vertical-fwd 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate backwards;
}
.slide-fwd-center {
    -webkit-animation: slide-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    animation: slide-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-2-7 20:42:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-fwd
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-fwd {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }

    100% {
        -webkit-transform: translateZ(160px) rotateY(180deg);
        transform: translateZ(160px) rotateY(180deg);
    }
}

@keyframes flip-vertical-fwd {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }

    100% {
        -webkit-transform: translateZ(160px) rotateY(180deg);
        transform: translateZ(160px) rotateY(180deg);
    }
}
.flip-vertical-fwd {
    -webkit-animation: flip-vertical-fwd 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate backwards;
    animation: flip-vertical-fwd 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate backwards;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-2-7 20:50:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
    }
}

@keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
    }
}

/* ----------------------------------------
// Pages
// ---------------------------------------- */
@import 'pages/about-us';
@import 'pages/checkout';
@import 'pages/contact-us';
@import 'pages/faq';
@import 'pages/not-found';



/* ----------------------------------------
// Shop
// ---------------------------------------- */
@import 'shop/address-card';
@import 'shop/addresses-list';
@import 'shop/cart';
@import 'shop/cart-table';
@import 'shop/category-card';
@import 'shop/compare-table';
@import 'shop/dashboard';
@import 'shop/order-header';
@import 'shop/order-list';
@import 'shop/order-success';
@import 'shop/product';
@import 'shop/product-gallery';
@import 'shop/product-tabs';
@import 'shop/products-list';
@import 'shop/products-view';
@import 'shop/profile-card';
@import 'shop/quickview';
@import 'shop/review';
@import 'shop/reviews-list';
@import 'shop/reviews-view';
@import 'shop/shop-layout';
@import 'shop/spec';
@import 'shop/view-options';
@import 'shop/wishlist';



/* ----------------------------------------
// Blog
// ---------------------------------------- */
@import 'blog/comment';
@import 'blog/comments-list';
@import 'blog/post';
@import 'blog/post-author';
@import 'blog/post-header';
@import 'blog/posts-list';
@import 'blog/posts-view';
@import 'blog/related-posts';



/* ----------------------------------------
// Blocks
// ---------------------------------------- */
@import 'blocks/block';
@import 'blocks/block-banner';
@import 'blocks/block-brands';
@import 'blocks/block-categories';
@import 'blocks/block-empty';
@import 'blocks/block-features';
@import 'blocks/block-loader';
@import 'blocks/block-finder';
@import 'blocks/block-map';
@import 'blocks/block-posts';
@import 'blocks/block-product-columns';
@import 'blocks/block-products';
@import 'blocks/block-products-carousel';
@import 'blocks/block-sidebar';
@import 'blocks/block-slideshow';



/* ----------------------------------------
// Widgets
// ---------------------------------------- */
@import 'widgets/widget';
@import 'widgets/widget-aboutus';
@import 'widgets/widget-categories';
@import 'widgets/widget-comments';
@import 'widgets/widget-filters';
@import 'widgets/widget-newsletter';
@import 'widgets/widget-posts';
@import 'widgets/widget-products';
@import 'widgets/widget-search';
@import 'widgets/widget-tags';

$one :                        #24a4ea       !default;
$two :                        #379deb       !default;
$three :                      #b76bf0       !default; 
$accent-color-gradinet: linear-gradient(100deg, $one, $two 25%, $three) !default;

@import 'custom';
@import './hover.sass';

.category-card {
    transition: all;
}

.category-card:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
 .product-card {
   overflow:hidden
 }
 
 /* Shine */
 .product-card .figure {
     position: relative; 
 }

 .product-card .figure::before {
     position: absolute;
     top: 0;
     left: -75%;
     z-index: 2;
     display: block;
     content: '';
     width: 50%;
     height: 100%;
    //  background: -webkit-linear-gradient(left,  #24a5ea1f 0%,  #379deb63 50%, #b66bf060 100%);
    //  background: linear-gradient(to right, #24a5ea1f 0%, #379deb63 50%, #b66bf060 100%);
     background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
     background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
     -webkit-transform: skewX(-25deg);
     transform: skewX(-25deg);
 }

 .product-card:hover .figure::before {
     -webkit-animation: shine .75s;
     animation: shine .75s;
 }

 @-webkit-keyframes shine {
     100% {
         left: 225%;
     }
 }

 @keyframes shine {
     100% {
         left: 225%;
     }
 }

 /* Circle */
 .hover15 figure {
     position: relative;
 }

 .hover15 figure::before {
     position: absolute;
     top: 50%;
     left: 50%;
     z-index: 2;
     display: block;
     content: '';
     width: 0;
     height: 0;
     background: rgba(255, 255, 255, .2);
     border-radius: 100%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     opacity: 0;
 }

 .hover15 figure:hover::before {
     -webkit-animation: circle .75s;
     animation: circle .75s;
 }

 @-webkit-keyframes circle {
     0% {
         opacity: 1;
     }

     40% {
         opacity: 1;
     }

     100% {
         width: 200%;
         height: 200%;
         opacity: 0;
     }
 }

 @keyframes circle {
     0% {
         opacity: 1;
     }

     40% {
         opacity: 1;
     }

     100% {
         width: 200%;
         height: 200%;
         opacity: 0;
     }
 }